.app{width: 70%; margin: 0px auto; margin-top: 10px;}
.lista{margin-top: 20px; background-color: white; padding: 10px; border: 1px solid black; border-radius: 10px; gap: 10px;}
.lista li{margin-top: 10px;}
.beker input{margin-left: 10px; background-color: rgb(14, 97, 14); padding: 10px; font-size: large; color: white; border-radius: 5px; border: green 1px solid; font-family: 'Times New Roman', Times, serif;}
.lista .add{margin: 10px; }
.lista .tf{gap: 10px; margin-right: 10px;}
.lista .del{color: #ff0000; font-weight: bold;}
.lista .del:hover{cursor: pointer;}
.lista .negyzet{display: inline-block; height: 10px; width: 10px; border: 1px solid black;}
.liste .k{margin-bottom: 10px;}